### Cleaning database data

*import libraries*

In [1]:
import os
import sys
import sqlite3 as sl

import pandas as pd
import numpy as np
from datetime import datetime
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.ticker as mticker
%matplotlib inline

import math
import statistics
import scipy.stats

from functools import reduce
import dataframe_image as dfi
from string import ascii_lowercase
import itertools
import chime
%load_ext chime

In [2]:
import warnings
warnings.filterwarnings("ignore")

In [3]:
pd.options.display.max_rows = 500

In [4]:
os.getcwd()

'C:\\Users\\USER\\Documents\\Articares\\CHISEL'

In [5]:
start_codes=datetime.now()

**connect/query from database**

In [6]:
# con = sl.connect('D:/Articares/CARE_platform/OneDrive_1_4-11-2022/articaresLite_v2_CHISEL_HOME_P001.db')

In [7]:
# # query only from P001
# df = pd.read_sql("SELECT PatientID, SessionID, GameID, TimeStampDate, TimeStampMS, Sparc, VisualTargetXCoord, VisualTargetYCoord, TargetXCoord, TargetYCoord, XCoordinate, YCoordinate, KxGain, KyGain, KxyGain, BxGain, ByGain, BxyGain, ByxGain, VelocityX, VelocityY, CurrentSenseLeft, CurrentSenseRight, TotalForce FROM TargetFeedbackDataModel WHERE PatientID='TTSH-CHISEL0Pa/Gtc3DUqoPVREp+I/qg==' AND TimeStampDate >= '2022-03-11' ",con)

In [8]:
# df.head()

*save queried results*

In [9]:
# df.to_csv('./data/sql_result_P001.dat')

**import df from previously saved query**

In [10]:
## read .dat file if df is saved
df = pd.read_csv('./data/sql_result_onlyP001.txt')

In [11]:
df.head()

,PatientID,SessionID,GameID,TimeStampDate,TimeStampMS,Sparc,VisualTargetXCoord,VisualTargetYCoord,TargetXCoord,TargetYCoord,...,KxyGain,BxGain,ByGain,BxyGain,ByxGain,VelocityX,VelocityY,CurrentSenseLeft,CurrentSenseRight,TotalForce
0,TTSH-CHISEL0Pa/Gtc3DUqoPVREp+I/qg==,TTSH-CHISELgzfi6wyw7ESOvMapDl+xDg==,0,2022-03-11 12:01:27,304021,0.0,171.0,22.0,21.0,32.0,...,0.0,0.0,0.0,0.0,0.0,-0.069115,-1.256943e-03,-0.0176,-0.0016,0.0
1,TTSH-CHISEL0Pa/Gtc3DUqoPVREp+I/qg==,TTSH-CHISELgzfi6wyw7ESOvMapDl+xDg==,0,2022-03-11 12:01:27,304031,0.0,171.0,22.0,21.0,32.0,...,0.0,0.0,0.0,0.0,0.0,-0.071628,1.256180e-03,-0.0016,-0.0016,0.0
2,TTSH-CHISEL0Pa/Gtc3DUqoPVREp+I/qg==,TTSH-CHISELgzfi6wyw7ESOvMapDl+xDg==,0,2022-03-11 12:01:27,304041,0.0,171.0,22.0,21.0,32.0,...,0.0,0.0,0.0,0.0,0.0,-0.074141,1.256180e-03,-0.0016,-0.0016,0.0
3,TTSH-CHISEL0Pa/Gtc3DUqoPVREp+I/qg==,TTSH-CHISELgzfi6wyw7ESOvMapDl+xDg==,0,2022-03-11 12:01:27,304051,0.0,171.0,22.0,21.0,32.0,...,0.0,0.0,0.0,0.0,0.0,-0.077911,7.629395e-07,-0.0016,-0.0016,0.0
4,TTSH-CHISEL0Pa/Gtc3DUqoPVREp+I/qg==,TTSH-CHISELgzfi6wyw7ESOvMapDl+xDg==,0,2022-03-11 12:01:27,304061,0.0,171.0,22.0,21.0,32.0,...,0.0,0.0,0.0,0.0,0.0,-0.081681,-1.256180e-03,-0.0016,-0.0016,0.0

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1412345 entries, 0 to 1412344
Data columns (total 24 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   PatientID           1412345 non-null  object
 1   SessionID           1412342 non-null  object
 2   GameID              1412345 non-null  int64
 3   TimeStampDate       1412345 non-null  object
 4   TimeStampMS         1412345 non-null  int64
 5   Sparc               1412345 non-null  float64
 6   VisualTargetXCoord  1412345 non-null  float64
 7   VisualTargetYCoord  1412345 non-null  float64
 8   TargetXCoord        1412345 non-null  float64
 9   TargetYCoord        1412345 non-null  float64
 10  XCoordinate         1412345 non-null  float64
 11  YCoordinate         1412345 non-null  float64
 12  KxGain              1412345 non-null  float64
 13  KyGain              1412345 non-null  float64
 14  KxyGain             1412345 non-null  float64
 15  BxGain              1412345 non-null  float64
 16  ByGain              1412345 non-null  float64
 17  BxyGain             1412345 non-null  float64
 18  ByxGain             1412345 non-null  float64
 19  VelocityX           1412345 non-null  float64
 20  VelocityY           1412345 non-null  float64
 21  CurrentSenseLeft    1412345 non-null  float64
 22  CurrentSenseRight   1412345 non-null  float64
 23  TotalForce          1412345 non-null  float64
dtypes: float64(19), int64(2), object(3)
memory usage: 258.6+ MB

**patient dictionary**

In [13]:
user_id_dict = {
    'TTSH-CHISELRGgLPwL3Lk6JTgBaVP4bjg==':'Test_01',
    'TTSH-CHISEL2gpumVcbJE267TKKceWbOA==':'NULL', 
    'TTSH-CHISEL0Pa/Gtc3DUqoPVREp+I/qg==':'001', 
    'TTSH-CHISEL9GsWU5zb50CfPyoLNy7qvg==':'002',
    'TTSH-CHISELamITRYYb9UymNH+3xzylgg==':'003', 
    'TTSH-CHISEL6IRO4pIMDUCpIRFbGnO26w==':'004',
    'TTSH-CHISELZSJj4EGZh0iiozqhx3Gf4g==':'005',
    'TTSH-CHISELCn5PqGNyMkKoyFYaOryw5g==':'006'
};

*replace PatientID from user_id_dict*

In [14]:
# df['PatientID'].unique()

for eg, if 'onlyP001' ie., only one patient is queried, then there should only be one unique value.

In [15]:
# replace PatientID with username
df.replace({'PatientID':user_id_dict},inplace=True)

**convert datetime**

In [17]:
df['date_time'] = pd.to_datetime(df['TimeStampDate'], format='%Y-%m-%d %H:%M:%S')
# df['date_time']

some 'SessionID' are missing, nothing we can do about it, though possible to impute from neighbouring rows.

In [23]:
# remove SessionID when null
df = df[df['SessionID'].notna()]

**format VisualTargetCoord and TargetCoord**

In [24]:
df['VisualTargetXCoord'] = df['VisualTargetXCoord']/1000
df['VisualTargetYCoord'] = df['VisualTargetYCoord']/1000
df['TargetXCoord'] = df['TargetXCoord']/1000
df['TargetYCoord'] = df['TargetYCoord']/1000

*GameID*

In [25]:
game_id_dict = {
    0 : 'Explore the World',
    1 : 'Fishing Game',
    2 : 'Drone Game'
}

In [26]:
# check types of games played
df['GameID'].unique()

array([0, 1, 2], dtype=int64)

### Segregating dataset by session and game

In [27]:
# make copy of original df
df1 = df.reset_index()

In [29]:
# recalculate diff in timestamp, as freq of data capture is inconsistent
df1['TimeStampMS_diff'] = df1[['TimeStampMS']].diff()

In [30]:
list_gameplay = df1[df1['SessionID'].notna()]['SessionID'].unique()

**checking for new starts within session**
<br> correcting for indirect labelling of sessionID

In [31]:
# create new gameplay names
new_gameplay_name = []
def iter_all_strings():
    for size in itertools.count(1):
        for s in itertools.product(ascii_lowercase, repeat=size):
            yield ''.join(s)

# max 300 new gameplay names based on alphabet-combinations
for s in itertools.islice(iter_all_strings(), 300):
    new_gameplay_name.append(s)

*splitting sessionID based on 'TimeStampMS_diff'<0*

In [32]:
# check for negative timestamp
new = 0 # brand new gameplay name
for gameplay in list_gameplay:
    gameplay_temp = df1[df1['SessionID']==gameplay].reset_index().drop(columns=['level_0'])
    
    # drop all last index, to make life easier
    last_index=gameplay_temp['index'].iloc[-1]
    gameplay_temp.drop(gameplay_temp[(gameplay_temp['index'] == last_index)].index,axis=0,inplace=True)
    df1.drop(df1[(df1['index'] == last_index)].index,axis=0,inplace=True)
    
    for game in range(0,3):
        if game in gameplay_temp['GameID'].unique():
            temp1 = gameplay_temp[gameplay_temp['GameID']==game]
            temp1['TimeStampMS_diff'] = temp1[['TimeStampMS']].diff()
            
            # all indices with negative timestamp
            # should not include last index already removed
            idx = temp1[temp1['TimeStampMS_diff']<0]['index'].values

            if len(idx) >= 1:
                first_index=temp1['index'].iloc[0]
                # new last_index originally-iloc[-2]
                last_index=temp1['index'].iloc[-1]

                if len(idx)==1:
                    # check first index
                    if idx[0] == first_index:
                        pass
                    
                    # double check last index
                    # nothing should happen here
                    elif idx[-1] == last_index:
                        # drop last value of sessionid
                        df1.drop(df1[(df1['index'] == last_index)].index,axis=0,inplace=True)
        #                 idx = idx[:-1]
        
                    # index is middle, split to new gameplay
                    else: #(idx[0]!=first_index) or (idx[0]!=last_index):
                        df1.loc[(df1['index'] >= idx[0]) & (df1['index'] <= last_index), 'SessionID'] = new_gameplay_name[new]
                        print(1,gameplay,game,new_gameplay_name[new])
                        new += 1

                else:  # if >1, iterate to new gameplays              
                    for nr in range(len(idx)-1):
                        df1.loc[(df1['index'] >= idx[nr]) & (df1['index'] <= idx[nr+1]), 'SessionID'] = new_gameplay_name[new]
                        print(2,gameplay,game,new_gameplay_name[new])
                        new += 1

1 TTSH-CHISEL29etmeoVZEaGCC9Ac6Dumw== 0 a
1 TTSH-CHISELy2bu0Bp3bEykXH+IzOzbjA== 0 b

*splitting sessionID once more for 'TimeStampMS_diff' > 120s*

In [33]:
# updated list_gameplay
list_gameplay = df1[df1['SessionID'].notna()]['SessionID'].unique()

In [34]:
# double check
# check for negative timestamp in second round
# use 'new' from previous run of splitting sessionID
for gameplay in list_gameplay:
    gameplay_temp = df1[df1['SessionID']==gameplay].reset_index().drop(columns=['level_0'])
    
    for game in range(0,3):
        if game in gameplay_temp['GameID'].unique():
            temp2 = gameplay_temp[gameplay_temp['GameID']==game]
            temp2['TimeStampMS_diff'] = temp2[['TimeStampMS']].diff()

            # all indices with negative timestamp
            # should not include last index already removed
            idx = temp2[temp2['TimeStampMS_diff']<0]['index'].values

            if len(idx) >= 1:
                first_index=temp2['index'].iloc[0]
                # new last_index originally-iloc[-2]
                last_index=temp2['index'].iloc[-1]

                if len(idx)==1:
                    # check first index
                    if idx[0] == first_index:
                        pass
                    
                    # double check last index
                    # nothing should happen here
                    elif idx[-1] == last_index:
                        # drop last value of sessionid
                        df1.drop(df1[(df1['index'] == last_index)].index,axis=0,inplace=True)
        
                    # index is middle, split to new gameplay
                    else: #(idx[0]!=first_index) or (idx[0]!=last_index):
                        df1.loc[(df1['index'] >= idx[0]) & (df1['index'] <= last_index), 'SessionID'] = new_gameplay_name[new]
                        print(1,gameplay,game,new_gameplay_name[new])
                        new += 1

                else:  # if >1, iterate to new gameplays              
                    for nr in range(len(idx)-1):
                        df1.loc[(df1['index'] >= idx[nr]) & (df1['index'] <= idx[nr+1]), 'SessionID'] = new_gameplay_name[new]
                        print(2,gameplay,game,new_gameplay_name[new])
                        new += 1

In [35]:
# updated list_gameplay
list_gameplay = df1[df1['SessionID'].notna()]['SessionID'].unique()

In [36]:
# check for large time gaps between sessions
# use 'new' from previous run of splitting sessionID
for gameplay in list_gameplay:
    gameplay_temp = df1[df1['SessionID']==gameplay].reset_index().drop(columns=['level_0'])
    
    for game in range(0,3):
        if game in gameplay_temp['GameID'].unique():
            temp3 = gameplay_temp[gameplay_temp['GameID']==game]
            temp3['TimeStampMS_diff'] = temp3[['TimeStampMS']].diff()
            
            # indices where data gaps larger than 100s
            idx2 = temp3[temp3['TimeStampMS_diff']>=100000]['index'].values
            
            if len(idx2) >= 1:
                first_index=temp3['index'].iloc[0]
                last_index=temp3['index'].iloc[-1]

                if len(idx2)==1:
                    # check first index
                    if idx2[0] == first_index:
                        pass          
                    
                    # check last index
                    elif (idx2[-1] == last_index):
                        # drop last value of idx 
                        df1.drop(df1[(df1['index'] == last_index)].index,axis=0,inplace=True)
                        
                    # index is middle, split to new gameplay
                    else: 
                        df1.loc[(df1['index'] >= idx2[0]) & (df1['index'] <= last_index), 'SessionID'] = new_gameplay_name[new]
                        print(1,gameplay,game,new_gameplay_name[new])
                        new += 1

                else: # if >1, iterate to new gameplays                   
                    for nr in range(len(idx2)-1):
                        df1.loc[(df1['index'] >= idx2[nr]) & (df1['index'] <= idx2[nr+1]), 'SessionID'] = new_gameplay_name[new]
                        print(2,gameplay,game,new_gameplay_name[new])
                        new += 1

1 TTSH-CHISELUy5bymOppk6EA8kZ7LLs/Q== 1 c

In [37]:
# updated list_gameplay
list_gameplay = df1[df1['SessionID'].notna()]['SessionID'].unique()

In [38]:
# quad run
# double check for large time gaps between sessions
for gameplay in list_gameplay:
    gameplay_temp = df1[df1['SessionID']==gameplay].reset_index().drop(columns=['level_0'])
    
    for game in range(0,3):
        if game in gameplay_temp['GameID'].unique():
            temp4 = gameplay_temp[gameplay_temp['GameID']==game]
            temp4['TimeStampMS_diff'] = temp4[['TimeStampMS']].diff()
            
            # indices where data gaps larger than 100s
            idx2 = temp4[temp4['TimeStampMS_diff']>=100000]['index'].values
            
            if len(idx2) >= 1:
                first_index=temp4['index'].iloc[0]
                last_index=temp4['index'].iloc[-1]

                if len(idx2)==1:
                    # check first index
                    if idx2[0] == first_index:
                        pass          
                    
                    # check last index
                    elif (idx2[-1] == last_index):
                        # drop last value of idx 
                        df1.drop(df1[(df1['index'] == last_index)].index,axis=0,inplace=True)
                        
                    # index is middle, split to new gameplay
                    else: 
                        df1.loc[(df1['index'] >= idx2[0]) & (df1['index'] <= last_index), 'SessionID'] = new_gameplay_name[new]
                        print(1,gameplay,game,new_gameplay_name[new])
                        new += 1

                else: # if >1, iterate to new gameplays                   
                    for nr in range(len(idx2)-1):
                        df1.loc[(df1['index'] >= idx2[nr]) & (df1['index'] <= idx2[nr+1]), 'SessionID'] = new_gameplay_name[new]
                        print(2,gameplay,game,new_gameplay_name[new])
                        new += 1

In [39]:
# updated list_gameplay
list_gameplay = df1[df1['SessionID'].notna()]['SessionID'].unique()

#### remove invalid gameplays

In [40]:
# drop if session < 120s 
for gameplay in list_gameplay:
    gameplay_temp = df1[df1['SessionID']==gameplay].reset_index().drop(columns=['level_0'])
    
    for game in range(0,3):
        if game in gameplay_temp['GameID'].unique():
            temp5 = gameplay_temp[gameplay_temp['GameID']==game]
            temp5['tsec'] = temp5[['TimeStampMS']].diff().cumsum(axis=0)/1000
            
            first_index=temp5['index'].iloc[0]
            last_index=temp5['index'].iloc[-1]
            
            # drop if session < 120s or smaller than size 5000 (should have at least 10000 rows for 120s worth of data)
            if len(temp5['tsec'])>=2500:
#             print(gameplay, game, temp5['tsec'].iloc[-2])
                if temp5['tsec'].iloc[-2] <= 120:
                    df1.drop(df1[(df1['index'] >= first_index) & (df1['index'] <= last_index)].index,axis=0,inplace=True)
            else:
                df1.drop(df1[(df1['index'] >= first_index) & (df1['index'] <= last_index)].index,axis=0,inplace=True)

#### check timestampms duplicates

In [41]:
for gameplay in list_gameplay:
    gameplay_temp = df1[df1['SessionID']==gameplay].reset_index().drop(columns=['level_0'])
    
    for game in range(0,3):
        if game in gameplay_temp['GameID'].unique():
            # cleaning is according to game within a gameplay, so each timestampms should be unique
            temp6 = gameplay_temp[gameplay_temp['GameID']==game]
            temp6['tsec'] = temp6[['TimeStampMS']].diff().cumsum(axis=0)/1000
                
            max_nr = temp6['TimeStampMS'].value_counts().max() # max number of same value
            
            if max_nr > 1000: # or > 1s 
                timestamp_value = temp6['TimeStampMS'].value_counts().idxmax() # repeated timestampms value

                start_duplicate = temp6[temp6['TimeStampMS']==timestamp_value]['date_time'].iloc[0]
                end_duplicate = temp6[temp6['TimeStampMS']==timestamp_value]['date_time'].iloc[-1]
                time_diff = (end_duplicate-start_duplicate).total_seconds()
                time_step = round(time_diff*1000/max_nr) # convert to ms

                new_time = timestamp_value # ensure first new_time is the original duplicated timestampms
                print(gameplay, game, max_nr, time_diff)
                for index in temp6[temp6['TimeStampMS']==timestamp_value]['index']:
                    new_time += time_step
                    df1.loc[df1['index']==index,['TimeStampMS']]=new_time # change to new time

TTSH-CHISELgzfi6wyw7ESOvMapDl+xDg== 0 1263 13.0
TTSH-CHISEL29etmeoVZEaGCC9Ac6Dumw== 0 16801 169.0

#### check mislabelling of gameid

In [42]:
for gameplay in list_gameplay:
    gameplay_temp = df1[df1['SessionID']==gameplay].reset_index().drop(columns=['level_0'])

    gameplay_temp['TimeStampMS_diff'] = gameplay_temp[['TimeStampMS']].diff()
    gameplay_temp['GameID_diff'] = gameplay_temp[['GameID']].diff()        
    
    # indices where change of gameid occur
    idxs = gameplay_temp[gameplay_temp['GameID_diff']!=0].index
    
    for idx in idxs:
        time_diff = abs(gameplay_temp[gameplay_temp.index==idx]['TimeStampMS_diff'].values[0])
        if time_diff<30: # usual time freq is from 10-30ms
            if idx!=0:
                chime.error()
                print(gameplay,'suspicious GameID!')                
        else:
            pass

#### keep final gameplay in df within a list

In [43]:
# final updated list_gameplay
list_gameplay = df1[df1['SessionID'].notna()]['SessionID'].unique()

df_gameplay = []
for gameplay in list_gameplay:
    temp = df1[df1['SessionID']==gameplay]  
    df_gameplay.append(temp)

### Export time_gameplay

**declare path for saving fig**
<br> path/folder will change later, and declared again later

In [44]:
# export df_gameplay 
patientid = df['PatientID'].unique()[0]
pd.concat(df_gameplay).to_hdf('./data/P' + patientid + '_df_gameplay.h5', key='df', mode='w')

In [45]:
%chime print('export done')

export done

*create dataframe*

In [46]:
# new gameplays are created when new starts to gameplay were detected
len(df_gameplay)

17

In [47]:
# number of games played
df1['GameID'].unique()

array([0, 1, 2], dtype=int64)

In [48]:
gameplay_nr = []
game_nr = []
start = []
end = []
diff = []
for gameplay, df_list in enumerate(df_gameplay):
    for game in range(0,3):
        if game in df_list['GameID'].unique():
            gameplay_nr.append(gameplay)
            game_nr.append(game)
            temp = df_list[df_list['GameID']==game]
            
            start.append(temp[['date_time']].iloc[0][0])
            end.append(temp[['date_time']].iloc[-1][0])
            time_diff = (temp[['date_time']].iloc[-1][0]) - (temp[['date_time']].iloc[0][0])
            diff.append(time_diff/ np.timedelta64(1,'m'))    # in minutes

In [49]:
# put in df
time_gameplay = []
for row in range(0,len(gameplay_nr)):
    time_gameplay.append(row)
time_gameplay = pd.DataFrame(time_gameplay,columns=['gameplay_nr'])   
time_gameplay['gameplay_nr'] = gameplay_nr
time_gameplay['game_nr'] = game_nr
time_gameplay['start'] = start
time_gameplay['end'] = end
time_gameplay['diff'] = diff  # in minutes
time_gameplay['just_date'] = time_gameplay['start'].dt.date

In [50]:
# time_gameplay of which patient
print(patientid)

001

In [51]:
time_gameplay

,gameplay_nr,game_nr,start,end,diff,just_date
0,0,0,2022-03-11 12:01:27,2022-03-11 12:11:23,9.933333,2022-03-11
1,1,0,2022-03-11 16:45:13,2022-03-11 16:53:24,8.183333,2022-03-11
2,1,1,2022-03-11 16:57:55,2022-03-11 17:02:56,5.016667,2022-03-11
3,1,2,2022-03-11 17:05:17,2022-03-11 17:10:28,5.183333,2022-03-11
4,2,0,2022-03-11 16:53:24,2022-03-11 16:56:49,3.416667,2022-03-11
5,3,0,2022-03-12 11:17:15,2022-03-12 11:27:31,10.266667,2022-03-12
6,4,1,2022-03-12 11:31:28,2022-03-12 11:41:32,10.066667,2022-03-12
7,4,2,2022-03-12 11:43:06,2022-03-12 11:53:14,10.133333,2022-03-12
8,5,0,2022-03-12 16:09:13,2022-03-12 16:19:32,10.316667,2022-03-12
9,5,1,2022-03-12 16:21:49,2022-03-12 16:31:58,10.150000,2022-03-12
10,5,2,2022-03-12 16:39:50,2022-03-12 16:49:58,10.133333,2022-03-12
11,6,0,2022-03-15 14:33:46,2022-03-15 14:43:59,10.216667,2022-03-15
12,6,1,2022-03-15 14:48:42,2022-03-15 14:58:45,10.050000,2022-03-15
13,6,2,2022-03-15 15:00:25,2022-03-15 15:10:40,10.250000,2022-03-15
14,7,0,2022-03-16 17:23:04,2022-03-16 17:33:06,10.033333,2022-03-16
15,7,1,2022-03-17 15:30:26,2022-03-17 15:40:33,10.116667,2022-03-17
16,7,2,2022-03-17 15:42:00,2022-03-17 15:52:04,10.066667,2022-03-17
17,8,0,2022-03-17 15:12:05,2022-03-17 15:29:37,17.533333,2022-03-17
18,9,0,2022-03-21 11:45:59,2022-03-21 11:56:21,10.366667,2022-03-21
19,9,1,2022-03-21 11:57:54,2022-03-21 12:09:05,11.183333,2022-03-21
20,9,2,2022-03-21 12:09:18,2022-03-21 12:19:39,10.350000,2022-03-21
21,10,0,2022-03-21 16:49:48,2022-03-21 16:53:00,3.200000,2022-03-21
22,10,1,2022-03-21 17:03:25,2022-03-21 17:09:40,6.250000,2022-03-21
23,10,2,2022-03-21 16:53:58,2022-03-21 17:03:13,9.250000,2022-03-21
24,11,0,2022-03-22 15:12:24,2022-03-22 15:22:46,10.366667,2022-03-22
25,11,1,2022-03-22 15:23:25,2022-03-22 15:34:44,11.316667,2022-03-22
26,11,2,2022-03-22 15:35:00,2022-03-22 15:45:11,10.183333,2022-03-22
27,12,0,2022-03-23 13:50:31,2022-03-23 14:00:40,10.150000,2022-03-23
28,12,1,2022-03-23 14:01:15,2022-03-23 14:11:37,10.366667,2022-03-23
29,12,2,2022-03-23 14:12:51,2022-03-23 14:23:25,10.566667,2022-03-23
30,13,0,2022-03-24 14:31:02,2022-03-24 14:33:41,2.650000,2022-03-24
31,14,0,2022-03-24 14:37:52,2022-03-24 14:44:58,7.100000,2022-03-24
32,15,1,2022-03-24 14:47:12,2022-03-24 14:53:47,6.583333,2022-03-24
33,15,2,2022-03-24 14:53:55,2022-03-24 14:59:03,5.133333,2022-03-24
34,16,0,2022-03-29 14:39:50,2022-03-29 14:50:18,10.466667,2022-03-29
35,16,1,2022-03-29 14:51:46,2022-03-29 15:02:03,10.283333,2022-03-29
36,16,2,2022-03-29 15:04:07,2022-03-29 15:14:19,10.200000,2022-03-29

In [52]:
# dfi.export(time_gameplay,"time_gameplay.png")
# dfi.export(time_gameplay[time_gameplay['game_nr']==0],"time_explore.png")
# dfi.export(time_gameplay[time_gameplay['game_nr']==1],"time_fish.png")
# dfi.export(time_gameplay[time_gameplay['game_nr']==2],"time_drone.png")

In [53]:
print(f'total run time = {datetime.now()-start_codes}')

total run time = 0:05:54.508129